.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-container {
  padding: 0 !important;
}

/* Home */
.demo-layout-transparent {
  background-color: #F5F5F5;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.home {
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

/* Card */
.demo-card-wide.mdl-card {
  width: 480px;
  margin: 1em;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background-color: white;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.dark-text {
  color: black !important;
}
.skills-list {
  width: 100% !important;
}

.card-container {
  margin: auto;
  width: 512px;
}

/* User Details */
.user-details {
  background-color: white;
  padding: 0 !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  margin-top: -15px !important;
  margin-bottom: 45px !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.user-image {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
}